@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/netflix-font");

body {
  font-family: "Netflix Font", sans-serif;
  background-color: #1d162c;
  overflow: auto;
}
.container {
  max-width: 1550px;
  margin-inline: auto;  
  padding-inline: 20px;
}

/* customizing the Hero Section */
.hero-header {
  background-image: url("/Assets/Images/imgi_1_MM-en-20250707-TRIFECTA-perspective_1600e112-24d2-44a0-a04c-205940b72f90_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  z-index: 1;
}
.hero-header {
  position: relative;
}
/* Customizing the trending section */

.trend-img {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}



.img-num {
  position: absolute;
  bottom: 10px;
  left: -53px;
  font-size: 170px;
  font-weight: 700;
  z-index: 52;
  color: #fffffefa;
  text-shadow: -5px 3px 10px #320505;
}
/* Hiding scroll bar on trending cards */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Customizing the reason to join Netflix section */
.reason-container {
  margin: 2px;
  padding: 10px;
}

.reason-box > h2 {
  padding-left: 20px;
  font-weight: 500;
  padding-top: 20px;
}
.reason-box .card-des {
  padding: 20px;
  font-weight: 400;
  color: #ddd;
}

/* Adding Media Queries to be responsive */



/* For Smaller Screen Sizes */
@media screen and (max-width: 639px) {
  .subscribe-email{
    flex-direction: column;
    margin-top: 1rem;
  }
.subscribe-container-first{
  width: 300px;
}
.gs-btn {
    width: 150px;
    justify-content: center;
    font-size: 1.1rem;
    display: block;
    margin: auto;
  }
  .membership-email{
    margin-top: 7rem;
  }

}
